<h1> Employee Page </h1>
<div id="Facts">
<h2>Name: <%= @employee.name %></h2>
<h3>Department: <%= @employee.department.name %>
</div>

<div id="Tickets">
<h3> Tickets </h3>
<% @tickets.each do |ticket| %>
  <p> <%= ticket.subject %>, <%= ticket.age %> days old.</p>
<% end %>
</div>

<div id="Oldest_ticket">
<h3> Oldest ticket: </h3>
<p> <%= @employee.oldest_ticket.subject %>, <%= @employee.oldest_ticket.age %> days old
</div>

<div id="Add_ticket">
<%= form_with url: "/employees/#{@employee.id}/tickets", method: :post do |form| %>
    <p> <%= form.label :ticket_id, "Please enter a valid ticket ID:" %> </p>
    <p> <%= form.text_area :ticket_id %> </p>
    <p> <%= form.submit "Submit" %> </p>
<% end %>
</div>